*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.testimonials{
  max-width: 600px;
  margin: 0 auto;  
}
.testimonials h2, .testimonial-form h3{
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(0, 132, 255);
}
.testimonial{
  margin-top: 100px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  position: relative;
}
.testimonial .image img{
  border-radius: 50%;
  width: 100px;
}
.testimonial .text-content{
  margin-left: 10%;
  text-align: justify;
}
.text-content h4{
  margin-top: 20px;
}
.open-quote{
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 50%;
  background: rgb(0, 132, 255);
  /* background: linear-gradient( rgb(0, 135, 255), #ff3838); */
  border: 3px solid #333;
}


.testimonial-form, .testimonial-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.testimonial-form{
  display: none;
  margin-top: 100px;
}
.testimonial-form form input, .testimonial-form form textarea,.testimonial-form form button{
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  width: 500px
}

.testimonial-form form textarea{
  min-height: 200px;
  resize: none;
}
.testimonial-form form button{
  width: fit-content;
  background-color: rgb(0, 132, 255);
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600
}
.testimonial-form form button:hover {
  background-color: rgb(161, 201, 238);
  color: #333
}
@media (max-width: 550px){.testimonial{flex-direction: column;}}
